* {  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: arial;
    font-weight: bold; 
    color: #EEEEEE;
    background-color: #31363F;
}

#container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    height: 510px;
    border: 2px solid #76ABAE;
    border-radius: 10px;
    gap: 2px;
    background-color: #31363F;
}

.row4 .operator {
    flex: 1 0 auto;
}

#plus,
#multiply {
    max-width: 119px;
}
.row4,
.row3,
.row2,
.row1{
    display: flex;
    width: 500px;
    height: 100px;
    gap: 2px;
}

.row0 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 500px;
    height: 100px;
}

.row0 #clear {
   height: 40px;
   max-width: none;
}

.operator,
.number,
#clear,
#equals,
#comma {
    flex: 1 0 auto;
    font-size: 30px;
    max-width: 125px;
    background-color: #222831;
    color: #EEEEEE;
    border-color: #76ABAE;
    border-radius: 10px;
}

#display {
    height: 60px;
    text-align: end;
    font-size: 60px;
    text-wrap: wrap balance;
    word-wrap: break-word;
    max-width: 500px;
}
